In [5]:
import pandas as pd
import numpy as np

In [6]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimoCheckout,DiasDesdeUltimaConversion
person,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,15.0,10000.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0,10000.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,10000.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,10.0,124.0,10.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,10.0,10.0,10.0,10.0

In [7]:
logsTrocafoneSearchEngineHits = logsTrocafone.loc[logsTrocafone['event'] == 'search engine hit', :]

logsTrocafoneSearchEngineHits.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
58,2018-05-18 00:23:05,search engine hit,16fad36a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2018-05-18 00:22:21,search engine hit,9bb3af27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2018-05-18 00:38:37,search engine hit,d614c608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2018-05-18 00:36:03,search engine hit,de8fe91b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2018-05-18 00:29:15,search engine hit,2a724d87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cantidadDeSearchEngineHits = logsTrocafoneSearchEngineHits.groupby('person').agg({'event':'count'})

cantidadDeSearchEngineHits.head()

          event
person
000ba417      1
000c79fe      1
000e4d9e      5
000e619d      3
0019e639     13

In [9]:
nuevoTrainingSet = trainingSet.merge(cantidadDeSearchEngineHits, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 18 columns):
CantidadEventos              19414 non-null int64
CantidadCompras              19414 non-null float64
CantidadLeads                19414 non-null float64
VentasHaceUnMes              19414 non-null float64
LeadsHaceUnMes               19414 non-null float64
VentasHaceDosMeses           19414 non-null float64
LeadsHaceDosMeses            19414 non-null float64
CantidadCheckouts            19414 non-null float64
VentasMes1                   19414 non-null float64
VentasMes2                   19414 non-null float64
VentasMes3                   19414 non-null float64
VentasMes4                   19414 non-null float64
PromedioVentasPorMes         19414 non-null float64
DiasDesdeUltimoEvento        19414 non-null float64
DiasDesdePrimerEvento        19414 non-null float64
DiasDesdeUltimoCheckout      19414 non-null float64
DiasDesdeUltimaConversion    19414 non-null float64
event                        12948 non-null float64
dtypes: float64(17), int64(1)
memory usage: 3.4+ MB

In [10]:
nuevoTestingSet = testingSet.merge(cantidadDeSearchEngineHits, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 18 columns):
CantidadEventos              19415 non-null int64
CantidadCompras              19415 non-null float64
CantidadLeads                19415 non-null float64
VentasHaceUnMes              19415 non-null float64
LeadsHaceUnMes               19415 non-null float64
VentasHaceDosMeses           19415 non-null float64
LeadsHaceDosMeses            19415 non-null float64
CantidadCheckouts            19415 non-null float64
VentasMes1                   19415 non-null float64
VentasMes2                   19415 non-null float64
VentasMes3                   19415 non-null float64
VentasMes4                   19415 non-null float64
PromedioVentasPorMes         19415 non-null float64
DiasDesdeUltimoEvento        19415 non-null float64
DiasDesdePrimerEvento        19415 non-null float64
DiasDesdeUltimoChechout      19415 non-null float64
DiasDesdeUltimaConversion    19415 non-null float64
event                        13133 non-null float64
dtypes: float64(17), int64(1)
memory usage: 3.4+ MB

In [11]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 18 columns):
CantidadEventos              19414 non-null int64
CantidadCompras              19414 non-null float64
CantidadLeads                19414 non-null float64
VentasHaceUnMes              19414 non-null float64
LeadsHaceUnMes               19414 non-null float64
VentasHaceDosMeses           19414 non-null float64
LeadsHaceDosMeses            19414 non-null float64
CantidadCheckouts            19414 non-null float64
VentasMes1                   19414 non-null float64
VentasMes2                   19414 non-null float64
VentasMes3                   19414 non-null float64
VentasMes4                   19414 non-null float64
PromedioVentasPorMes         19414 non-null float64
DiasDesdeUltimoEvento        19414 non-null float64
DiasDesdePrimerEvento        19414 non-null float64
DiasDesdeUltimoCheckout      19414 non-null float64
DiasDesdeUltimaConversion    19414 non-null float64
event                        19414 non-null float64
dtypes: float64(17), int64(1)
memory usage: 3.4+ MB

In [12]:
nuevoTestingSet = nuevoTestingSet.fillna(0)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 18 columns):
CantidadEventos              19415 non-null int64
CantidadCompras              19415 non-null float64
CantidadLeads                19415 non-null float64
VentasHaceUnMes              19415 non-null float64
LeadsHaceUnMes               19415 non-null float64
VentasHaceDosMeses           19415 non-null float64
LeadsHaceDosMeses            19415 non-null float64
CantidadCheckouts            19415 non-null float64
VentasMes1                   19415 non-null float64
VentasMes2                   19415 non-null float64
VentasMes3                   19415 non-null float64
VentasMes4                   19415 non-null float64
PromedioVentasPorMes         19415 non-null float64
DiasDesdeUltimoEvento        19415 non-null float64
DiasDesdePrimerEvento        19415 non-null float64
DiasDesdeUltimoChechout      19415 non-null float64
DiasDesdeUltimaConversion    19415 non-null float64
event                        19415 non-null float64
dtypes: float64(17), int64(1)
memory usage: 3.4+ MB

In [15]:
nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimoCheckout,DiasDesdeUltimaConversion,event
person,,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,15.0,10000.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0,10000.0,1.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,10000.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,10.0,124.0,10.0,10.0,13.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,10.0,10.0,10.0,10.0,0.0

In [16]:
nuevoTestingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimoChechout,DiasDesdeUltimaConversion,event
person,,,,,,,,,,,,,,,,,,
00091926,448,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,29.0,6.0,10000.0,0.0
00091a7a,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,67.0,10000.0,10000.0,0.0
000ba417,206,1.0,0.0,1.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,0.0,0.2,6.0,15.0,6.0,6.0,1.0
000e4d9e,411,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,16.0,16.0,10000.0,5.0
000e619d,68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,14.0,17.0,15.0,10000.0,3.0

In [17]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"event": "CantidadSearchEngineHits"})

nuevoTestingSet = nuevoTestingSet.rename(columns={"event": "CantidadSearchEngineHits"})

In [18]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [19]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada