In [1]:
import pandas as pd
import numpy as np

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes
person,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2

In [3]:
logsTrocafoneCheckouts = logsTrocafone.loc[logsTrocafone['event'] == 'checkout', :]

logsTrocafoneCheckouts.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
33,2018-05-18 00:29:24,checkout,15ea8012,NaN,12802.0,Samsung Galaxy S8 Plus,Excelente,64GB,Prata,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2018-05-18 00:22:58,checkout,43790d8f,NaN,10378.0,Motorola Moto G4 Plus,Bom,32GB,Bambu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2018-05-18 00:38:51,checkout,d614c608,NaN,6343.0,Samsung Galaxy J5,Bom,16GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,2018-05-18 00:57:32,checkout,55d1e0ee,NaN,6663.0,Samsung Galaxy Core Plus Duos TV,Excelente,4GB,Preto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2018-05-18 01:12:43,checkout,bb78c182,NaN,7631.0,Motorola Moto G3 4G,Bom,16GB,Preto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cantidadDeCheckouts = logsTrocafoneCheckouts.groupby('person').agg({'event':'count'})

cantidadDeCheckouts.head()

          event
person
0008ed71      3
00091926      2
000ba417      6
000c79fe      1
000e4d9e      1

In [8]:
nuevoTrainingSet = trainingSet.merge(cantidadDeCheckouts, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   16452 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.1+ MB

In [9]:
nuevoTestingSet = testingSet.merge(cantidadDeCheckouts, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 4886f805 to 80aea0a0
Data columns (total 8 columns):
CantidadEventos       19415 non-null int64
CantidadCompras       19415 non-null float64
CantidadLeads         19415 non-null float64
VentasHaceUnMes       19415 non-null float64
LeadsHaceUnMes        19415 non-null float64
VentasHaceDosMeses    19415 non-null float64
LeadsHaceDosMeses     19415 non-null float64
event                 16381 non-null float64
dtypes: float64(7), int64(1)
memory usage: 1.3+ MB

In [10]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   19414 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.1+ MB

In [11]:
nuevoTestingSet = nuevoTestingSet.fillna(0)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 4886f805 to 80aea0a0
Data columns (total 8 columns):
CantidadEventos       19415 non-null int64
CantidadCompras       19415 non-null float64
CantidadLeads         19415 non-null float64
VentasHaceUnMes       19415 non-null float64
LeadsHaceUnMes        19415 non-null float64
VentasHaceDosMeses    19415 non-null float64
LeadsHaceDosMeses     19415 non-null float64
event                 19415 non-null float64
dtypes: float64(7), int64(1)
memory usage: 1.3+ MB

In [12]:
nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,event
person,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,15.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,2.0

In [14]:
nuevoTestingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts
person,,,,,,,,
4886f805,9,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0297fc1e,567,0.0,1.0,0.0,0.0,0.0,0.0,7.0
2d681dd8,26,0.0,0.0,0.0,0.0,0.0,0.0,1.0
cccea85e,836,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4c8a8b93,257,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [13]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"event": "CantidadCheckouts"})

nuevoTestingSet = nuevoTestingSet.rename(columns={"event": "CantidadCheckouts"})

In [10]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [15]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada