In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,...,EntraronConSmartphone,EntraronConTablet,CantidadAdHits,DiasDesdeUltimoAdHit,DiasDesdeUltimaBusqueda,CantidadDeColoresVistos,CantidadDiasDiferentesDeVisita,CantidadDeModelosVistos,EsDeBrazil,DiasDeActividadDeUsuario
person,,,,,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,1000.0,1000.0,3,1,3,1.0,1.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,3.0,3.0,1,1,1,1.0,1.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,5.0,1.0,1.0,2,1,2,1.0,1.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,...,0.0,0.0,29.0,10.0,10.0,14,14,26,1.0,115.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1000.0,1000.0,2,1,1,0.0,1.0

In [3]:
logsTrocafone['timestamp'] = pd.to_datetime(logsTrocafone['timestamp'], errors = 'coerce')
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
logsTrocafone['timestamp'] = logsTrocafone['timestamp'].dt.date

logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
searchHits = logsTrocafone.loc[logsTrocafone['event'] == 'search engine hit', :]

searchHits.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
58,2018-05-18,search engine hit,16fad36a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2018-05-18,search engine hit,9bb3af27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2018-05-18,search engine hit,d614c608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2018-05-18,search engine hit,de8fe91b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2018-05-18,search engine hit,2a724d87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
ultimoEventoPorPersona = searchHits.groupby('person').agg({'timestamp':'max'})

ultimoEventoPorPersona.head()

           timestamp
person
000ba417  2018-05-17
000c79fe  2018-05-29
000e4d9e  2018-05-22
000e619d  2018-05-16
0019e639  2018-05-22

In [7]:
ultimoEventoPorPersona['timestamp'] =  datetime.date(2018, 6, 1) - ultimoEventoPorPersona['timestamp']

ultimoEventoPorPersona['timestamp'].head()

person
000ba417   15 days
000c79fe    3 days
000e4d9e   10 days
000e619d   16 days
0019e639   10 days
Name: timestamp, dtype: timedelta64[ns]

In [8]:
ultimoEventoPorPersona['timestamp'] = ultimoEventoPorPersona['timestamp'] / np.timedelta64(1, 'D')

ultimoEventoPorPersona.head()

          timestamp
person
000ba417       15.0
000c79fe        3.0
000e4d9e       10.0
000e619d       16.0
0019e639       10.0

In [9]:
nuevoTrainingSet = trainingSet.merge(ultimoEventoPorPersona, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 31 columns):
CantidadEventos                   19414 non-null int64
CantidadCompras                   19414 non-null float64
CantidadLeads                     19414 non-null float64
VentasHaceUnMes                   19414 non-null float64
LeadsHaceUnMes                    19414 non-null float64
VentasHaceDosMeses                19414 non-null float64
LeadsHaceDosMeses                 19414 non-null float64
CantidadCheckouts                 19414 non-null float64
VentasMes1                        19414 non-null float64
VentasMes2                        19414 non-null float64
VentasMes3                        19414 non-null float64
VentasMes4                        19414 non-null float64
PromedioVentasPorMes              19414 non-null float64
DiasDesdeUltimoEvento             19414 non-null float64
DiasDesdePrimerEvento             19414 non-null float64
DiasDesdeUltimaConversion         19414 non-null float64
CantidadSearchEngineHits          19414 non-null float64
EntraronMasDeUnaVez               19414 non-null float64
DiasDesdeUltimoCheckout           19414 non-null float64
EntraronConComputadora            19414 non-null float64
EntraronConSmartphone             19414 non-null float64
EntraronConTablet                 19414 non-null float64
CantidadAdHits                    19414 non-null float64
DiasDesdeUltimoAdHit              19414 non-null float64
DiasDesdeUltimaBusqueda           19414 non-null float64
CantidadDeColoresVistos           19414 non-null int64
CantidadDiasDiferentesDeVisita    19414 non-null int64
CantidadDeModelosVistos           19414 non-null int64
EsDeBrazil                        19414 non-null float64
DiasDeActividadDeUsuario          19414 non-null float64
timestamp                         12948 non-null float64
dtypes: float64(27), int64(4)
memory usage: 5.4+ MB

In [10]:
nuevoTestingSet = testingSet.merge(ultimoEventoPorPersona, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 31 columns):
CantidadEventos                   19415 non-null int64
CantidadCompras                   19415 non-null float64
CantidadLeads                     19415 non-null float64
VentasHaceUnMes                   19415 non-null float64
LeadsHaceUnMes                    19415 non-null float64
VentasHaceDosMeses                19415 non-null float64
LeadsHaceDosMeses                 19415 non-null float64
CantidadCheckouts                 19415 non-null float64
VentasMes1                        19415 non-null float64
VentasMes2                        19415 non-null float64
VentasMes3                        19415 non-null float64
VentasMes4                        19415 non-null float64
PromedioVentasPorMes              19415 non-null float64
DiasDesdeUltimoEvento             19415 non-null float64
DiasDesdePrimerEvento             19415 non-null float64
DiasDesdeUltimaConversion         19415 non-null float64
CantidadSearchEngineHits          19415 non-null float64
EntraronMasDeUnaVez               19415 non-null float64
DiasDesdeUltimoCheckout           19415 non-null float64
EntraronConComputadora            19415 non-null float64
EntraronConSmartphone             19415 non-null float64
EntraronConTablet                 19415 non-null float64
CantidadAdHits                    19415 non-null float64
DiasDesdeUltimoAdHit              19415 non-null float64
DiasDesdeUltimaBusqueda           19415 non-null float64
CantidadDeColoresVistos           19415 non-null int64
CantidadDiasDiferentesDeVisita    19415 non-null int64
CantidadDeModelosVistos           19415 non-null int64
EsDeBrazil                        19415 non-null float64
DiasDeActividadDeUsuario          19415 non-null float64
timestamp                         13133 non-null float64
dtypes: float64(27), int64(4)
memory usage: 5.4+ MB

In [11]:
nuevoTrainingSet = nuevoTrainingSet.fillna(1000)

#Agrego un numero muy grande significando que na hacen un checkout hace mucho

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 31 columns):
CantidadEventos                   19414 non-null int64
CantidadCompras                   19414 non-null float64
CantidadLeads                     19414 non-null float64
VentasHaceUnMes                   19414 non-null float64
LeadsHaceUnMes                    19414 non-null float64
VentasHaceDosMeses                19414 non-null float64
LeadsHaceDosMeses                 19414 non-null float64
CantidadCheckouts                 19414 non-null float64
VentasMes1                        19414 non-null float64
VentasMes2                        19414 non-null float64
VentasMes3                        19414 non-null float64
VentasMes4                        19414 non-null float64
PromedioVentasPorMes              19414 non-null float64
DiasDesdeUltimoEvento             19414 non-null float64
DiasDesdePrimerEvento             19414 non-null float64
DiasDesdeUltimaConversion         19414 non-null float64
CantidadSearchEngineHits          19414 non-null float64
EntraronMasDeUnaVez               19414 non-null float64
DiasDesdeUltimoCheckout           19414 non-null float64
EntraronConComputadora            19414 non-null float64
EntraronConSmartphone             19414 non-null float64
EntraronConTablet                 19414 non-null float64
CantidadAdHits                    19414 non-null float64
DiasDesdeUltimoAdHit              19414 non-null float64
DiasDesdeUltimaBusqueda           19414 non-null float64
CantidadDeColoresVistos           19414 non-null int64
CantidadDiasDiferentesDeVisita    19414 non-null int64
CantidadDeModelosVistos           19414 non-null int64
EsDeBrazil                        19414 non-null float64
DiasDeActividadDeUsuario          19414 non-null float64
timestamp                         19414 non-null float64
dtypes: float64(27), int64(4)
memory usage: 5.4+ MB

In [12]:
nuevoTestingSet = nuevoTestingSet.fillna(1000)

#Agrego un numero muy grande significando que na hacen un checkout hace mucho

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 31 columns):
CantidadEventos                   19415 non-null int64
CantidadCompras                   19415 non-null float64
CantidadLeads                     19415 non-null float64
VentasHaceUnMes                   19415 non-null float64
LeadsHaceUnMes                    19415 non-null float64
VentasHaceDosMeses                19415 non-null float64
LeadsHaceDosMeses                 19415 non-null float64
CantidadCheckouts                 19415 non-null float64
VentasMes1                        19415 non-null float64
VentasMes2                        19415 non-null float64
VentasMes3                        19415 non-null float64
VentasMes4                        19415 non-null float64
PromedioVentasPorMes              19415 non-null float64
DiasDesdeUltimoEvento             19415 non-null float64
DiasDesdePrimerEvento             19415 non-null float64
DiasDesdeUltimaConversion         19415 non-null float64
CantidadSearchEngineHits          19415 non-null float64
EntraronMasDeUnaVez               19415 non-null float64
DiasDesdeUltimoCheckout           19415 non-null float64
EntraronConComputadora            19415 non-null float64
EntraronConSmartphone             19415 non-null float64
EntraronConTablet                 19415 non-null float64
CantidadAdHits                    19415 non-null float64
DiasDesdeUltimoAdHit              19415 non-null float64
DiasDesdeUltimaBusqueda           19415 non-null float64
CantidadDeColoresVistos           19415 non-null int64
CantidadDiasDiferentesDeVisita    19415 non-null int64
CantidadDeModelosVistos           19415 non-null int64
EsDeBrazil                        19415 non-null float64
DiasDeActividadDeUsuario          19415 non-null float64
timestamp                         19415 non-null float64
dtypes: float64(27), int64(4)
memory usage: 5.4+ MB

In [13]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"timestamp": "DiasDesdeUltimoSearchHit"})

nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,...,EntraronConTablet,CantidadAdHits,DiasDesdeUltimoAdHit,DiasDesdeUltimaBusqueda,CantidadDeColoresVistos,CantidadDiasDiferentesDeVisita,CantidadDeModelosVistos,EsDeBrazil,DiasDeActividadDeUsuario,DiasDesdeUltimoSearchHit
person,,,,,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,1000.0,1000.0,3,1,3,1.0,1.0,1000.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,3.0,3.0,1,1,1,1.0,1.0,3.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,5.0,1.0,1.0,2,1,2,1.0,1.0,1000.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,...,0.0,29.0,10.0,10.0,14,14,26,1.0,115.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,1000.0,1000.0,2,1,1,0.0,1.0,1000.0

In [14]:
nuevoTestingSet = nuevoTestingSet.rename(columns={"timestamp": "DiasDesdeUltimoSearchHit"})

nuevoTestingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,...,EntraronConTablet,CantidadAdHits,DiasDesdeUltimoAdHit,DiasDesdeUltimaBusqueda,CantidadDeColoresVistos,CantidadDiasDiferentesDeVisita,CantidadDeModelosVistos,EsDeBrazil,DiasDeActividadDeUsuario,DiasDesdeUltimoSearchHit
person,,,,,,,,,,,,,,,,,,,,,
00091926,448,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,15.0,1.0,1000.0,20,22,36,1.0,29.0,1000.0
00091a7a,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,67.0,1000.0,3,1,3,1.0,1.0,1000.0
000ba417,206,1.0,0.0,1.0,0.0,1.0,0.0,6.0,0.0,0.0,...,0.0,1.0,15.0,1000.0,20,3,26,1.0,10.0,15.0
000e4d9e,411,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,19.0,10.0,1000.0,12,9,37,1.0,15.0,10.0
000e619d,68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,6.0,14.0,14.0,9,4,23,1.0,4.0,16.0

In [15]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [16]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada