In [1]:
import pandas as pd
import numpy as np

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes
person,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2

In [3]:
logsTrocafoneCompras = logsTrocafone.loc[logsTrocafone['event'] == 'conversion', :]

logsTrocafoneCompras.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
195,2018-05-18 01:12:20,conversion,49c19e32,NaN,2683.0,iPhone 5c,Bom,16GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,2018-05-18 01:05:23,conversion,49c19e32,NaN,2683.0,iPhone 5c,Bom,16GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,2018-05-29 07:51:14,conversion,39df97e0,NaN,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,2018-05-29 07:13:30,conversion,380c0e60,NaN,6314.0,Samsung Galaxy Note 5,Muito Bom,32GB,Preto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2018-05-29 19:31:46,conversion,35ee0cc8,NaN,10924.0,Samsung Galaxy A5 2017,Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cantidadDeCompras = logsTrocafoneCompras.groupby('person').agg({'event':'count'})

cantidadDeCompras.head()

          event
person
000ba417      1
001001be      1
001804a2      1
0019e639      2
001b0bf9      1

In [6]:
nuevoTrainingSet = trainingSet.merge(cantidadDeCompras, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   2164 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.1+ MB

In [5]:
nuevoTestingSet = testingSet.merge(cantidadDeCompras, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 4886f805 to 80aea0a0
Data columns (total 2 columns):
CantidadEventos    19415 non-null int64
event              2129 non-null float64
dtypes: float64(1), int64(1)
memory usage: 379.2+ KB

In [7]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   19414 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.1+ MB

In [8]:
nuevoTestingSet = nuevoTestingSet.fillna(0)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 4886f805 to 80aea0a0
Data columns (total 2 columns):
CantidadEventos    19415 non-null int64
event              19415 non-null float64
dtypes: float64(1), int64(1)
memory usage: 379.2+ KB

In [9]:
nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,event
person,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,2.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,1.0

In [10]:
nuevoTestingSet.head()

          CantidadEventos  event
person
4886f805                9    0.0
0297fc1e              567    0.0
2d681dd8               26    0.0
cccea85e              836    0.0
4c8a8b93              257    0.0

In [11]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"event": "CantidadCompras"})

nuevoTestingSet = nuevoTestingSet.rename(columns={"event": "CantidadCompras"})

In [34]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [12]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada