In [5]:
import pandas as pd
import numpy as np

In [6]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

labelsTrocafone = pd.read_csv('Data/labels_training_set.csv')

labelsTest = pd.read_csv('Data/trocafone_kaggle_test.csv')

In [7]:
logsTrocafone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341681 entries, 0 to 2341680
Data columns (total 23 columns):
timestamp                   object
event                       object
person                      object
url                         object
sku                         float64
model                       object
condition                   object
storage                     object
color                       object
skus                        object
search_term                 object
staticpage                  object
campaign_source             object
search_engine               object
channel                     object
new_vs_returning            object
city                        object
region                      object
country                     object
device_type                 object
screen_resolution           object
operating_system_version    object
browser_version             object
dtypes: float64(1), object(22)
memory usage: 214.4+ MB

In [8]:
setTraining = logsTrocafone.groupby('person').agg({'event':'count'})

setTraining.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38829 entries, 0008ed71 to fffd1246
Data columns (total 1 columns):
event    38829 non-null int64
dtypes: int64(1)
memory usage: 455.0+ KB

In [9]:
labelsTrocafone = labelsTrocafone.set_index('person')

labelsTrocafone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0566e9c1 to 824fa9e3
Data columns (total 1 columns):
label    19414 non-null int64
dtypes: int64(1)
memory usage: 227.5+ KB

In [10]:
labelsTest = labelsTest.set_index('person')

labelsTest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 4886f805 to 80aea0a0
Empty DataFrame

In [11]:
setTrainingConLabel = setTraining.merge(labelsTrocafone, left_index=True, right_index=True)


setTrainingConLabel.head()

          event  label
person
0566e9c1     68      0
6ec7ee77      2      0
abe7a2fb     96      0
34728364     37      0
87ed62de     17      0

In [12]:
setTrainingConLabel = setTrainingConLabel.rename(columns={"event": "CantidadEventos"})

In [13]:
setTestConLabel = setTraining.merge(labelsTest, left_index=True, right_index=True)


setTestConLabel.head()

          event
person
4886f805      9
0297fc1e    567
2d681dd8     26
cccea85e    836
4c8a8b93    257

In [14]:
setTestConLabel = setTestConLabel.rename(columns={"event": "CantidadEventos"})

In [15]:
setTrainingConLabel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0566e9c1 to 824fa9e3
Data columns (total 2 columns):
CantidadEventos    19414 non-null int64
label              19414 non-null int64
dtypes: int64(2)
memory usage: 379.2+ KB

In [16]:
setTestConLabel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 4886f805 to 80aea0a0
Data columns (total 1 columns):
CantidadEventos    19415 non-null int64
dtypes: int64(1)
memory usage: 227.5+ KB

In [53]:
trainingSet = setTrainingConLabel.iloc[:,:-1]

trainingSet.head()

          CantidadEventos
person
0008ed71                6
000c79fe               17
001802e4               19
0019e639              471
001b0bf9                7

In [54]:
#trainingSet.to_csv('trainingSet.csv')
#Este ultimo comando borra el training set existente

In [18]:
#setTestConLabel.to_csv('testingSet.csv')
#Este ultimo comando borra el testing set existente