In [1]:
import pandas as pd
import numpy as np

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

labelsTrocafone = pd.read_csv('Data/labels_training_set.csv')

In [3]:
logsTrocafone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341681 entries, 0 to 2341680
Data columns (total 23 columns):
timestamp                   object
event                       object
person                      object
url                         object
sku                         float64
model                       object
condition                   object
storage                     object
color                       object
skus                        object
search_term                 object
staticpage                  object
campaign_source             object
search_engine               object
channel                     object
new_vs_returning            object
city                        object
region                      object
country                     object
device_type                 object
screen_resolution           object
operating_system_version    object
browser_version             object
dtypes: float64(1), object(22)
memory usage: 410.9+ MB

In [4]:
setTraining = logsTrocafone.groupby('person').agg({'event':'count'})

setTraining.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38829 entries, 0008ed71 to fffd1246
Data columns (total 1 columns):
event    38829 non-null int64
dtypes: int64(1)
memory usage: 606.7+ KB

In [5]:
labelsTrocafone = labelsTrocafone.set_index('person')

labelsTrocafone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0566e9c1 to 824fa9e3
Data columns (total 1 columns):
label    19414 non-null int64
dtypes: int64(1)
memory usage: 303.3+ KB

In [6]:
setTrainingConLabel = setTraining.merge(labelsTrocafone, left_index=True, right_index=True)


setTrainingConLabel.head()

          event  label
person
0008ed71      6      0
000c79fe     17      0
001802e4     19      0
0019e639    471      0
001b0bf9      7      0

In [7]:
setTrainingConLabel = setTrainingConLabel.rename(columns={"event": "CantidadEventos"})

In [8]:
setTrainingConLabel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 2 columns):
CantidadEventos    19414 non-null int64
label              19414 non-null int64
dtypes: int64(2)
memory usage: 455.0+ KB

In [53]:
trainingSet = setTrainingConLabel.iloc[:,:-1]

trainingSet.head()

          CantidadEventos
person
0008ed71                6
000c79fe               17
001802e4               19
0019e639              471
001b0bf9                7

In [54]:
#trainingSet.to_csv('trainingSet.csv')
#Este ultimo comando borra el training set existente