In [6]:
import pandas as pd
import numpy as np
import datetime

In [7]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,...,DiasDesdePrimerEvento,DiasDesdeUltimaConversion,CantidadSearchEngineHits,EntraronMasDeUnaVez,DiasDesdeUltimoCheckout,EntraronConComputadora,EntraronConSmartphone,EntraronConTablet,CantidadAdHits,DiasDesdeUltimoAdHit
person,,,,,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,15.0,10000.0,0.0,1.0,15.0,1.0,0.0,0.0,0.0,1000.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,3.0,10000.0,1.0,0.0,3.0,0.0,1.0,0.0,1.0,3.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,10000.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,1.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,...,124.0,10.0,13.0,1.0,10.0,1.0,0.0,0.0,29.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,...,10.0,10.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,1000.0

In [8]:
logsTrocafone['timestamp'] = pd.to_datetime(logsTrocafone['timestamp'], errors = 'coerce')
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
logsTrocafone['timestamp'] = logsTrocafone['timestamp'].dt.date

logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
busquedas = logsTrocafone.loc[logsTrocafone['event'] == 'searched products', :]

busquedas.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
5,2018-05-18,searched products,4c8a8b93,NaN,NaN,NaN,NaN,NaN,NaN,"10240,9987,10322,10085,9944,9931,13404,10154,1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2018-05-18,searched products,29ebb414,NaN,NaN,NaN,NaN,NaN,NaN,"3371,6357,6371,3191,2718,6001,2777,6248,2725,8...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2018-05-18,searched products,15ea8012,NaN,NaN,NaN,NaN,NaN,NaN,"12786,12800,12772",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2018-05-18,searched products,d21b8e6b,NaN,NaN,NaN,NaN,NaN,NaN,"5016,5088,8397,8429,10728,5075,7631,9216,4969,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2018-05-18,searched products,d21b8e6b,NaN,NaN,NaN,NaN,NaN,NaN,"12520,12507,12548,12534",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ultimoEventoPorPersona = busquedas.groupby('person').agg({'timestamp':'max'})

ultimoEventoPorPersona.head()

           timestamp
person
000c79fe  2018-05-29
000e619d  2018-05-18
001001be  2018-05-16
001802e4  2018-05-31
0019e639  2018-05-22

In [12]:
ultimoEventoPorPersona['timestamp'] =  datetime.date(2018, 6, 1) - ultimoEventoPorPersona['timestamp']

ultimoEventoPorPersona['timestamp'].head()

person
000c79fe    3 days
000e619d   14 days
001001be   16 days
001802e4    1 days
0019e639   10 days
Name: timestamp, dtype: timedelta64[ns]

In [13]:
ultimoEventoPorPersona['timestamp'] = ultimoEventoPorPersona['timestamp'] / np.timedelta64(1, 'D')

ultimoEventoPorPersona.head()

          timestamp
person
000c79fe        3.0
000e619d       14.0
001001be       16.0
001802e4        1.0
0019e639       10.0

In [14]:
nuevoTrainingSet = trainingSet.merge(ultimoEventoPorPersona, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 25 columns):
CantidadEventos              19414 non-null int64
CantidadCompras              19414 non-null float64
CantidadLeads                19414 non-null float64
VentasHaceUnMes              19414 non-null float64
LeadsHaceUnMes               19414 non-null float64
VentasHaceDosMeses           19414 non-null float64
LeadsHaceDosMeses            19414 non-null float64
CantidadCheckouts            19414 non-null float64
VentasMes1                   19414 non-null float64
VentasMes2                   19414 non-null float64
VentasMes3                   19414 non-null float64
VentasMes4                   19414 non-null float64
PromedioVentasPorMes         19414 non-null float64
DiasDesdeUltimoEvento        19414 non-null float64
DiasDesdePrimerEvento        19414 non-null float64
DiasDesdeUltimaConversion    19414 non-null float64
CantidadSearchEngineHits     19414 non-null float64
EntraronMasDeUnaVez          19414 non-null float64
DiasDesdeUltimoCheckout      19414 non-null float64
EntraronConComputadora       19414 non-null float64
EntraronConSmartphone        19414 non-null float64
EntraronConTablet            19414 non-null float64
CantidadAdHits               19414 non-null float64
DiasDesdeUltimoAdHit         19414 non-null float64
timestamp                    6519 non-null float64
dtypes: float64(24), int64(1)
memory usage: 4.5+ MB

In [15]:
nuevoTestingSet = testingSet.merge(ultimoEventoPorPersona, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 25 columns):
CantidadEventos              19415 non-null int64
CantidadCompras              19415 non-null float64
CantidadLeads                19415 non-null float64
VentasHaceUnMes              19415 non-null float64
LeadsHaceUnMes               19415 non-null float64
VentasHaceDosMeses           19415 non-null float64
LeadsHaceDosMeses            19415 non-null float64
CantidadCheckouts            19415 non-null float64
VentasMes1                   19415 non-null float64
VentasMes2                   19415 non-null float64
VentasMes3                   19415 non-null float64
VentasMes4                   19415 non-null float64
PromedioVentasPorMes         19415 non-null float64
DiasDesdeUltimoEvento        19415 non-null float64
DiasDesdePrimerEvento        19415 non-null float64
DiasDesdeUltimaConversion    19415 non-null float64
CantidadSearchEngineHits     19415 non-null float64
EntraronMasDeUnaVez          19415 non-null float64
DiasDesdeUltimoCheckout      19415 non-null float64
EntraronConComputadora       19415 non-null float64
EntraronConSmartphone        19415 non-null float64
EntraronConTablet            19415 non-null float64
CantidadAdHits               19415 non-null float64
DiasDesdeUltimoAdHit         19415 non-null float64
timestamp                    6574 non-null float64
dtypes: float64(24), int64(1)
memory usage: 4.5+ MB

In [16]:
nuevoTrainingSet = nuevoTrainingSet.fillna(1000)

#Agrego un numero muy grande significando que na hacen un checkout hace mucho

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 25 columns):
CantidadEventos              19414 non-null int64
CantidadCompras              19414 non-null float64
CantidadLeads                19414 non-null float64
VentasHaceUnMes              19414 non-null float64
LeadsHaceUnMes               19414 non-null float64
VentasHaceDosMeses           19414 non-null float64
LeadsHaceDosMeses            19414 non-null float64
CantidadCheckouts            19414 non-null float64
VentasMes1                   19414 non-null float64
VentasMes2                   19414 non-null float64
VentasMes3                   19414 non-null float64
VentasMes4                   19414 non-null float64
PromedioVentasPorMes         19414 non-null float64
DiasDesdeUltimoEvento        19414 non-null float64
DiasDesdePrimerEvento        19414 non-null float64
DiasDesdeUltimaConversion    19414 non-null float64
CantidadSearchEngineHits     19414 non-null float64
EntraronMasDeUnaVez          19414 non-null float64
DiasDesdeUltimoCheckout      19414 non-null float64
EntraronConComputadora       19414 non-null float64
EntraronConSmartphone        19414 non-null float64
EntraronConTablet            19414 non-null float64
CantidadAdHits               19414 non-null float64
DiasDesdeUltimoAdHit         19414 non-null float64
timestamp                    19414 non-null float64
dtypes: float64(24), int64(1)
memory usage: 4.5+ MB

In [17]:
nuevoTestingSet = nuevoTestingSet.fillna(1000)

#Agrego un numero muy grande significando que na hacen un checkout hace mucho

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 25 columns):
CantidadEventos              19415 non-null int64
CantidadCompras              19415 non-null float64
CantidadLeads                19415 non-null float64
VentasHaceUnMes              19415 non-null float64
LeadsHaceUnMes               19415 non-null float64
VentasHaceDosMeses           19415 non-null float64
LeadsHaceDosMeses            19415 non-null float64
CantidadCheckouts            19415 non-null float64
VentasMes1                   19415 non-null float64
VentasMes2                   19415 non-null float64
VentasMes3                   19415 non-null float64
VentasMes4                   19415 non-null float64
PromedioVentasPorMes         19415 non-null float64
DiasDesdeUltimoEvento        19415 non-null float64
DiasDesdePrimerEvento        19415 non-null float64
DiasDesdeUltimaConversion    19415 non-null float64
CantidadSearchEngineHits     19415 non-null float64
EntraronMasDeUnaVez          19415 non-null float64
DiasDesdeUltimoCheckout      19415 non-null float64
EntraronConComputadora       19415 non-null float64
EntraronConSmartphone        19415 non-null float64
EntraronConTablet            19415 non-null float64
CantidadAdHits               19415 non-null float64
DiasDesdeUltimoAdHit         19415 non-null float64
timestamp                    19415 non-null float64
dtypes: float64(24), int64(1)
memory usage: 4.5+ MB

In [18]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"timestamp": "DiasDesdeUltimaBusqueda"})

nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,...,DiasDesdeUltimaConversion,CantidadSearchEngineHits,EntraronMasDeUnaVez,DiasDesdeUltimoCheckout,EntraronConComputadora,EntraronConSmartphone,EntraronConTablet,CantidadAdHits,DiasDesdeUltimoAdHit,DiasDesdeUltimaBusqueda
person,,,,,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,10000.0,0.0,1.0,15.0,1.0,0.0,0.0,0.0,1000.0,1000.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10000.0,1.0,0.0,3.0,0.0,1.0,0.0,1.0,3.0,3.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10000.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,1.0,1.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,...,10.0,13.0,1.0,10.0,1.0,0.0,0.0,29.0,10.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,...,10.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,1000.0,1000.0

In [19]:
nuevoTestingSet = nuevoTestingSet.rename(columns={"timestamp": "DiasDesdeUltimaBusqueda"})

nuevoTestingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,...,DiasDesdeUltimaConversion,CantidadSearchEngineHits,EntraronMasDeUnaVez,DiasDesdeUltimoCheckout,EntraronConComputadora,EntraronConSmartphone,EntraronConTablet,CantidadAdHits,DiasDesdeUltimoAdHit,DiasDesdeUltimaBusqueda
person,,,,,,,,,,,,,,,,,,,,,
00091926,448,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,10000.0,0.0,1.0,6.0,1.0,0.0,0.0,15.0,1.0,1000.0
00091a7a,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10000.0,0.0,0.0,10000.0,0.0,1.0,0.0,1.0,67.0,1000.0
000ba417,206,1.0,0.0,1.0,0.0,1.0,0.0,6.0,0.0,0.0,...,6.0,1.0,1.0,6.0,1.0,0.0,0.0,1.0,15.0,1000.0
000e4d9e,411,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10000.0,5.0,1.0,16.0,1.0,0.0,0.0,19.0,10.0,1000.0
000e619d,68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,10000.0,3.0,1.0,15.0,1.0,0.0,0.0,6.0,14.0,14.0

In [20]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [21]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada